name: Go
permissions:
  contents: read
on:
  create:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.5
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./...
